{% extends 'base.html' %}

{% load static %}

{% block content %}
    <h1>Member List</h1>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Occupation</th>
                <th>NDC Membership</th>
            </tr>
        </thead>
        <tbody>
            {% for member in members %}
                <tr>
                    <td>{{ member.first_name }}</td>
                    <td>{{ member.last_name }}</td>
                    <td>{{ member.email }}</td>
                    <td>{{ member.phone_number }}</td>
                    <td>{{ member.occupation }}</td>
                    <td>{{ member.ndc_membership_status|yesno:"Yes,No" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
